body{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.info{
    background-color: #fff;
    padding: 20px ;
    margin: 10px;
}
/* .link-img{
    background-color: black;
    border: 1px solid black;
    margin: 30px 24px;
    padding: 10px 10px;
    color: white;
} */
.link{
    text-align: center;
    width: 260px;
    background-color: #fff;
    border: 3px solid black;
    margin: 20px auto;
    padding: 6px 6px;
    border-radius: 8px;
}