body{
    margin: 20px;
    /* border: 1px solid white; */
    /* width: 100%; */
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: black;
    color: white;
}
.info{
    width: 100%;
    background-color: #e6cdcdac;
    border-radius: 14px;
    color: black;
    padding: 20px ;
    margin: auto;
    text-align: center;
}
/* .link-img{
    background-color: black;
    border: 1px solid black;
    margin: 30px 24px;
    padding: 10px 10px;
    color: white;
} */
.link{
    text-align: center;
    width: 260px;
    background-color: #fff;
    border: 3px solid black;
    margin: 20px auto;
    padding: 6px 6px;
    border-radius: 36px;
}

@media screen and (max-width: 600px) {
        body{
    margin: 20px;
    /* border: 1px solid white; */
    width: 100%;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: black;
    color: white;
}
    
    .link{
    text-align: center;
    width: 260px;
    background-color: #fff;
    border: 3px solid black;
    margin: 20px auto;
    padding: 6px 6px;
    border-radius: 36px;
}

}