:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.title{
  color: blueviolet;
  text-align: center;
}
.card{
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 12px 16px;
  margin: auto;
}